Package: simplepackage
Version: 1.0
Section: unknown
Priority: optional
Depends: libc6
Architecture: amd64
Essential: no
Installed-Size: 16
Maintainer: sergey <root@mail.ru>
Description: Print build... line
